h2 {
    color: #28B1D2;
    font-family: 'Nunito', sans-serif;
    font-size: 48px;
    margin: 10px 10px 10px 30px;
    margin-left: 55px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-flex {
    display: flex;
   /* display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 40px;*/
}

.text-box {
    display: flex;
    width: 251px;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #201A31;
    padding-left: 10px;
    z-index: 1;
    position: absolute;
    
}




.list {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 30px;
    column-gap: 20px;
}

.list:first-child  {
    background-color: red;
    left: 210px;
}

.item:nth-child(even) .text-box {
    left: 263px;
}

.item:nth-child(odd) .img {
    left: 210px;
}

.item {
    box-sizing: border-box;
    width: 526px;
    height: 230px;
    background-color: white;
    color: white;
    border-radius: 10px;
    position: relative;
    
}


.text-right {
    padding-left: 10px;
}

p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    margin-block-start: 0;
    margin-block-end: 0;
    /*margin-right: 20px;*/
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
     
}

.img {
    width: 315px;
    height: 100%;
    border-radius: 10px;
    position: absolute;
}





.container-text {
    border-radius: 10px;
}

.line {
    width: 40%;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: #D22847;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
}

.section-title {
    align-self: flex-start;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .item {
        grid-column: 1 / 2;
       
    }

    .list {
        grid-template-columns: none;
    }
    
    .section-title {
        align-self: flex-start;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 35px;
        margin-left: 108px;
        
    }


}

@media (max-width: 375px) {
    .item {
        width: 308px;
        height: 135px;
    }

    .img {
        width: 161px;
        height: 100%;
        
    }

    .list {
        grid-template-columns: none;
    }

    .text-box {
        width: 147px;
        height: 100%;
    }

    .item:nth-child(even) .text-box {
        left: 149px;
    }
    
    .item:nth-child(odd) .img {
        left: 145px;
    }

    .section-title {
        align-self: flex-start;
        margin-bottom: 20px;
    }
    
    h2,p {
        font-size: 20px;
    }

    h2 {
        margin-left: 25px;
        
    }
}